<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.vkb.task"

    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->
    <!--android:debuggable="false"
            tools:ignore="HardcodedDebugMode"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="ru.vkb.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.vkb.ui.DisposalInfoActivity"
            android:label="@string/title_activity_disposal_detail"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="ru.vkb.intent.action.SHOW_DISPOSALS_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.vkb.ui.DisposalNoteActivity"
            android:label="@string/title_activity_disposal_comment" >
            <intent-filter>
                <action android:name="ru.vkb.intent.action.SHOW_DISPOSALS_COMMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.vkb.ui.preference.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:name="ru.vkb.model.provider.RestProvider"
            android:authorities="ru.vkb"
            android:exported="false" />

        <service
            android:name="ru.vkb.model.service.RestService"
            android:exported="false" />
        <service
            android:name="ru.vkb.model.service.notificationService"
            android:exported="false" />

        <receiver android:name="ru.vkb.model.receiver.NotificationAlarmReceiver" >
            <intent-filter>
                <action android:name="ru.vkb.model.service.CHECK_DISPOSAL" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ru.vkb.ui.DisposalsTreeActivity"
            android:label="@string/disposals" >
            <intent-filter>
                <action android:name="ru.vkb.intent.action.SHOW_DISPOSALS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
